<html>
<head>
  <title>Simple client</title>

  <script type="text/javascript">

    var ws;

    function init() {

      // Connect to Web Socket
      ws = new WebSocket("ws://localhost:8080/websocket");

      // Set event handlers.
      ws.onopen = function() {
        output("onopen");
        ws.send('{"type":"validate"}')
      };

      ws.onmessage = function(e) {
        // e.data contains received string.
        output("onmessage: " + e.data);
      };

      ws.onclose = function() {
        output("onclose");
      };

      ws.onerror = function(e) {
        output("onerror");
        console.log(e)
      };

    }

    function onSubmit() {
      var input = document.getElementById("input");
      // You can send message to the Web Socket using ws.send.
      ws.send(input.value);
      output("send: " + input.value);
      input.value = "";
      input.focus();
    }

    function onCloseClick() {
      ws.close();
    }

    function output(str) {
      var log = document.getElementById("log");
      var escaped = str.replace(/&/, "&amp;").replace(/</, "&lt;").
        replace(/>/, "&gt;").replace(/"/, "&quot;"); // "
      log.innerHTML = escaped + "<br>" + log.innerHTML;
    }



    var Drone = function(ws_url, latency, APIkey, APIsecret, messageHandler){
      latency = latency/1000; //latency in ms instead of sec
      if (messageHandler == undefined){
        this.messageHandler = function(e){}; //by default this does nothing
      }
      else {
        this.messageHandler = messageHandler;
      }
      this.socket = new WebSocket(ws_url)
      var mainDroneObject = this; //so we can access root object from within functions
      this.socket.onopen = function(e) {
        mainDroneObject.socket.send(JSON.stringify({"type":"validate", "key":APIkey, "secret":APIsecret}))
      }

      this.socket.onmessage = function(msg) {
        if (mainDroneObject.logAllMessages){
          console.log("RX: " + (msg.data))
        }
        var json = JSON.parse(msg.data);
        if (json.type == "validate"){
          mainDroneObject.validate.status = json.status;
          mainDroneObject.socket.send(JSON.stringify({"type":"get", "listener":latency})) //set up a listener with the latency we called
        }
        else if (json.type == "return"){
          mainDroneObject.vehicle.attributes = json.attributes
        }
        //Now feed data to user-settable handler
        mainDroneObject.messageHandler(msg)
      }
      this.validate = {
        status: false,
      }
      this.vehicle = {
        attributes : undefined,
      };
      this.logAllMessages = false;
    }

    //Setting up our specific drone
    solo = new Drone("ws://localhost:8080/websocket", 250, "sIegcsimlHCAc9PBXWRB", "2Aooe5DiLV5DXUPp9mMs")
    solo.messageHandler = function(msg){
      json = JSON.parse(msg.data)
      if (json.type == "return"){
        //we got an attribute update!
        document.getElementById("json-display").innerHTML = JSON.stringify(json.attributes, null, 2);
      }
    }
  </script>
</head>
<body>
  <pre id="json-display">
  </pre>
</body>
</html>
