<html>
<head>
  <title>Simple client</title>

  <script src="https://cdn.rawgit.com/emn178/js-sha256/189bb9b0/src/sha256.js"></script>
  <script type="text/javascript">

    var ws;

    function init() {

      // Connect to Web Socket
      ws = new WebSocket("ws://localhost:8080/websocket");

      // Set event handlers.
      ws.onopen = function() {
        output("onopen");
        ws.send('{"type":"validate"}')
      };

      ws.onmessage = function(e) {
        // e.data contains received string.
        output("onmessage: " + e.data);
      };

      ws.onclose = function() {
        output("onclose");
      };

      ws.onerror = function(e) {
        output("onerror");
        console.log(e)
      };

    }

    function onSubmit() {
      var input = document.getElementById("input");
      // You can send message to the Web Socket using ws.send.
      ws.send(input.value);
      output("send: " + input.value);
      input.value = "";
      input.focus();
    }

    function onCloseClick() {
      ws.close();
    }

    function output(str) {
      var log = document.getElementById("log");
      var escaped = str.replace(/&/, "&amp;").replace(/</, "&lt;").
        replace(/>/, "&gt;").replace(/"/, "&quot;"); // "
      log.innerHTML = escaped + "<br>" + log.innerHTML;
    }



    var Drone = function(ws_url, latency, APIpassword, messageHandler, failedPasswordCallback){
      latency = latency/1000; //latency in ms instead of sec
      // If the user didn't supply a failed password callback
      if (failedPasswordCallback == undefined){
        failedPasswordCallback = function(){}
      }
      this.crypt = {
        "plainhash":sha256(APIpassword), //never even store it in plain text
        "salt":undefined,
        "failedPasswordCallback":failedPasswordCallback,
      }
      if (messageHandler == undefined){
        this.messageHandler = function(e){}; //by default this does nothing
      }
      else {
        this.messageHandler = messageHandler;
      }
      this.socket = new WebSocket(ws_url)
      var mainDroneObject = this; //so we can access root object from within functions
      this.socket.onopen = function(e) {
        //Do we do anything here?
      }

      this.socket.onmessage = function(msg) {
        if (mainDroneObject.logAllMessages){
          console.log("RX: " + (msg.data))
        }
        var json = JSON.parse(msg.data);
        if (json.type == "validate"){
          mainDroneObject.validate.status = json.status;
          if (mainDroneObject.validate.status == true) {
            mainDroneObject.socket.send(JSON.stringify({"type":"get", "listener":latency})) //set up a listener with the latency we called
          }
          // This is a trick to check if our password verified correctly.
          // If validation status is false, but we have already cleared out the plain hash to null, that means we attempted authenticiation and failed.
          // So now we call the appropriate callback
          else if (mainDroneObject.validate.status == false && mainDroneObject.crypt.plainhash == null) {
            mainDroneObject.crypt.failedPasswordCallback()
          }
        }
        else if (json.type == "hello"){
          mainDroneObject.crypt.salt = json.salt;
          var token = sha256(mainDroneObject.crypt.plainhash + mainDroneObject.crypt.salt)
          var message = {
            "type":"validate",
            "token":token,
          }
          mainDroneObject.socket.send(JSON.stringify(message))
          //Now we clear out all the crypt values
          mainDroneObject.crypt.plainhash = null;
          mainDroneObject.crypt.salt = null;
        }
        else if (json.type == "return"){
          mainDroneObject.vehicle.attributes = json.attributes
        }
        //Now feed data to user-settable handler
        mainDroneObject.messageHandler(msg)
      }
      this.validate = {
        status: false,
      }
      this.vehicle = {
        attributes : undefined,
      };
      this.logAllMessages = false;
    }

    //Setting up our specific drone
    solo = new Drone("ws://" + window.location.host + "/websocket", 250, "SpeakOfThePompatusOfLove")
    solo.messageHandler = function(msg){
      json = JSON.parse(msg.data)
      if (json.type == "return"){
        //we got an attribute update!
        document.getElementById("json-display").innerHTML = JSON.stringify(json.attributes, null, 2);
      }
    }
    solo.crypt.failedPasswordCallback = function(){
      alert("PASSWORD REJECTED!")
    }
  </script>
</head>
<body>
  <pre id="json-display">
  </pre>
</body>
</html>
