<!DOCTYPE html>
<html>
<head>
    <title>Tornado WebSockets</title>
    <script>
        var ws;

        function onLoad() {
            ws = new WebSocket("ws://localhost:8080/websocket");
            ws.onopen = function(){
              ws.send('{"type":"validate"}')
            }
            ws.onmessage = function(e) {
               alert(e.data);
            };
            ws.onclose = function(){
              alert("CLOSED!")
            }
        }

        function sendMsg() {
            ws.send(document.getElementById('msg').value);
        }
    </script>
</head>
<body onload="onLoad();">
    <strong>Message to Send:</strong>&nbsp;<input type="text" id="msg" />
    &nbsp;<input type="button" onclick="sendMsg();" value="Send" />
</body>
</html>
